html {
    font-family: Helvetica;
    background-color: #000;
  }
  
  .container {
    max-width: 1100px;
    background-color: #fff;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
  }
  
  .bold {
    font-weight: bolder;
    font-style: italic;
    color: rgb(52, 137, 248);
  }
  
  /* header */
  .main-title {
    margin-left: 26%;
    font-size: 40px;
  }
  
  .main-paragraph {
    margin-left: 30%;
    font-style: italic;
  }

  .featured-image {
    margin-left: 5%;
    margin-top: 30px;
  }

  .biography-container {
    word-wrap: break-word;
    width: 70%;
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
  }

  .quotes-container {
    background-color: rgb(6, 24, 49);
    padding: 20px;
    box-sizing: border-box;
    height: 300;
    width: 1350px;
  }
  
  .quotes-container blockquote {
    font-weight: bolder;
    font-size: 20px;
  }
  
  .quotes-container p {
    font-style: italic;
    font-size: 15px;
  }

  body {
    color: rgb(10, 113, 248);
  }

  .moreinfo-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #000 ;
    border-bottom: 1px dashed #000;
  }
  
  .moreinfo-container p {
    height: 30px;
  }